* {
  font-family: 'Poppins';
}

.header {
  animation: header-width-animation 2s 1s forwards;
}

.nav {
  top: 1.5rem;
  font-size: 1em;
  color: white;
}

.nav-logo {
  top: 2rem;
  left: 2rem;
  animation: rotation 16s infinite linear;
}

@keyframes rotation {
  from { transform: rotate(0deg); } 
  to { transform: rotate(359deg); }
}

@keyframes header-width-animation {
  from {width: 0;}
  to {width: 100%;}
}